*.md linguist-language=Markdown*.md linguist-detectable=true*.md linguist-documentation=false*.pyw linguist-language=Python*.txt linguist-language=Text*.txt linguist-detectable=true*.txt linguist-documentation=false*.asm linguist-language=Assembly*.hdl linguist-language=VHDL*.hdl linguist-detectable=true*.hdl linguist-documentation=false*.tst linguist-language=VHDL*.cmp linguist-language=VHDL