push constant 787
push constant 787
add
push constant 787
and
push constant 787
sub
pop static 4
push constant 6969
push static 4
sub
pop static 3
push constant 787
pop static 3
push static 3
push static 4
add
push constant 787
eq
pop temp 0
push constant 13187
pop temp 7
